.main {
    margin-top: 4rem;
    width: 80%;
    max-width: 1200px;
    height: auto;
    background-color: var(--white);
    position: relative;
    box-shadow: 0 0 15px var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
}


.main .content {
    padding: 2rem;
    position: relative;
    overflow: hidden;
    background-image: url(../assets/images/quad-pattern.jpg);
    background-size: 1rem;
}
